/* {
	outline: 2px solid red;
}*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #0058A1;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

div {
	display: block;
}

.header {
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #004E8E;
	color: #ffffff;
	border-bottom: 2px solid #378CCD;
}

.hdrtext {
	margin-right: 10px;
	float: left;
	clear: none;
	padding-right: 10px;
}