/* {
	outline: 2px solid red;
}*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #0058A1;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

div {
	display: block;
}

a:link {
	text-decoration: none;
}

i {
	padding-left: 10px;
}

.header {
	width: 100%;
	height: 30px;
	background-color: #004E8E;
	color: #ffffff;
	border-bottom: 2px solid #378CCD;
}

.hdrtext {
	width: 100%;
	text-align: center;
	float: left;
	clear: none;
	margin: 0 auto;
	padding: 10px;
}